[Desktop Entry]
Name=Wkeys Applet
Type=Application
Exec=cosmic-applet-wkeys
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
Icon=input-keyboard-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10